body {
  display: flex;
  justify-content: center;
}
.container {
  background-color: gray;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  align-items: center;
  border: 2px solid black;
}
.display {
  background-color: #2b7c24;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border: 2px solid black;
}
.buttons {
  margin: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 126px;
}
.operators {
  display: flex;
  flex-direction: column;
}
.number,
.operator,
.result,
.clear {
  box-sizing: border-box;
  font-size: 24px;
  width: 42px;
  height: 42px;
  border: 1px solid black;
}
.results {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 168px;
}
.result {
  background-color: #b31409;
  flex: auto;
}
.clear {
  flex: auto;
  font-size: 16px;
}
